# Virtual Environment
venv/
env/
ENV/
.venv/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Build and Packaging artifacts
build/
dist/
*.exe

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo

# Operating System files
Thumbs.db
Desktop.ini
.DS_Store

# Databases and Backups
*.db
*.sqlite
*.sqlite3
*.sqlite-wal
*.sqlite-shm
Data/
db/
